<ion-view view-title="xxx">
<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
      <ion-item
        ng-repeat="campaign in  campaigns.data | orderBy:'-lastMessage.timestamp'"
        class="item-campaign item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        href="#/tab/campaign/{{campaign._id}}">
              <h3>{{campaign.CampaignName}} </h3>
              <p  >{{ campaign.StartDate | date : 'dd/MM/yy'}} - {{ campaign.EndDate| date : 'dd/MM/yy' }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="campaigns.RemoveCampaign(campaign)">
          ลบ
        </ion-option-button>
      </ion-item>
    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
</ion-view>