<ion-view view-title="Home">
  <!--<ion-nav-buttons side="right">
    <button ng-click="campaigns.NewCampaign()" class="button button-clear button-positive button-icon ion-ios-compose-outline">เพิ่ม</button>
  </ion-nav-buttons>-->

  <ion-content>
    
     <div ng-repeat=" campaign1 in  home.data track by $index " class=" row responsive-sm" ng-if=" $index % 2 == 0">
      <div class=" col-50" ng-repeat=" campaign in [home.data[$index], home.data[$index+1]]" ng-if=" campaign != null">
        
    <!--<div class="card" style="padding:10px" ng-repeat="campaign in  home.data | orderBy:'-lastMessage.timestamp'">-->
    <div class="card" style="padding:10px"  >
      <div class="item item-divider">
        {{campaign.CampaignName}} <span> {{ campaign.StartDate | date : 'dd/MM/yy'}} - {{ campaign.EndDate| date : 'dd/MM/yy' }}</span>
      </div>
      <div class="item item-text-wrap" >
        <div class="row">
          <div class="col">
            <div> Visit</div> 
            <div> 500/5000</div>
       
            
          </div>
           <div class="col" >
            <div style="height:50px;width:100px" ><canvas   class="chart chart-pie" chart-data="[10,80]" chart-labels="['Actual','']" chart-legend="true"></canvas> </div>
            
          </div>
           <div class="col">
            <div> Goal</div> 
            <div> 10/20</div>
            
          </div>
           <div class="col"  >
            
             <div style="height:50px;width:100px" ><canvas   class="chart chart-pie" chart-data="[10,80]" chart-labels="['Actual','']" chart-legend="true"></canvas> </div>
          </div>
        </div>
         
        
      </div>
      <!--<div class="item item-divider">
    I'm a Footer in a Card!
  </div>-->
    </div>
      </div>
     </div>

    
  </ion-content>
</ion-view>