
<ion-view title="Reports">
 
 
  <ion-content delegate-handle="chatScroll"  >
 
    <div class="list">
       
      <div class="row responsive-sm">
        <div class="col">

          <label class=" item-input  item-stacked-label">
    <span class="input-label">วันที่เริ่ม</span>
    <input type="date" placeholder="DD/MM/YYY" ng-model="campaign.data.StartDate">
  </label>

        </div>
        <div class="col">

          <label class=" item-input item-stacked-label">
    <span class="input-label">วันที่สิ้นสุด</span>
    <input type="date" placeholder="DD/MM/YYY" ng-model="campaign.data.EndDate">
  </label>

        </div>
      </div>
 
    </div>
        <!--rep.ck1={{rep.ck1}}<Br>
	  rep.data={{rep.data}}<Br>
	  labels = {{rep.labels}}<Br>
	  series = {{rep.series}} <Br>
    data2 = {{rep.data2}}<Br>
       sales = {{rep.sales}}<Br>
       options={{rep.options}}-->
   <div class="card">
        <div class="item item-divider">
           Cost per visit  
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-bar" chart-data="rep.data" chart-labels="rep.labels"  chart-legend="true" 
              chart-options="rep.options" chart-series1="rep.series"
            
            ></canvas>
        </div>
    </div>
 <div class="card">
        <div class="item item-divider">
           Cost per goal  
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-bar" chart-data="rep.dataGoal" chart-labels="rep.labels"  chart-legend="true"   chart-options="{showTooltips: false}"
            
            ></canvas>
        </div>
    </div>
 
  </ion-content>
</ion-view>